[run]
branch = True
relative_files = True
source = actstream
omit =
    *migrations*

[report]
ignore_errors = True
exclude_lines =
    pragma: no cover
    def __repr__
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
