language: python
python:
  - "2.6"
  - "2.7"
env:
  - DJANGO_VERSION=1.4.5
  - DJANGO_VERSION=1.5.1
install:
  - pip install -q Django==$DJANGO_VERSION
  - pip install django-jsonfield==0.9.4
  - python setup.py -q install
script: python actstream/runtests/runtests.py