<ul>
{% for action in activity_list %}
<li>
{% if action.actor.get_absolute_url %}<a href="{{ action.actor.get_absolute_url }}">{{ action.actor }}</a>
{% else %}<a href="{{ action.actor_url }}">{{ action.actor }}</a>{% endif %}
{% comment %}
The check for the absolute urls came up during testing because the commenting system requires that the
object we're viewing comments on has a get_absolute_url method.  I figured it was safest to simply
check for the methods before making this link active.
{% endcomment %}
{% if action.action_object.get_absolute_url and action.target.get_absolute_url %}
    <a href="{{action.action_object.get_absolute_url}}">
    {{ action.verb }}
    </a>
{% else %}
    {{ action.verb }}
{% endif %}
{% if action.target %}
    {% if action.target.get_absolute_url %}<a href="{{ action.target.get_absolute_url }}">{{ action.target }}</a>
    {% else %}<a href="{{ action.target_url }}">{{ action.target }}</a>{% endif %}
{% endif %}
{{ action.timestamp|timesince }} ago
{% endfor %}
</li>
</ul>